body {
    background-color: #e9ecef;
  }
  
  .items {
    background-color: rgb(48, 46, 46);
  }
  
  .item {
    margin: 10px;
    display: inline-block;
    list-style-type: none;
  }
  
  .item a {
    color: rgb(235, 235, 235);
    text-decoration: none;
    font-size: 14px;
  }
  
  .item_first a {
    color: rgb(233, 214, 8) !important;
  }
  
  .item a:hover {
    color: rgb(179, 158, 158);
  }
  
  .ıcerik a {
    color: #0f2648b5;
    text-decoration: none;
  }
  
  .cesit ul li {
    list-style-position: inside;
  }
  
  .button1 {
    color: rgb(12, 10, 10);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 120px;
  }
  
  .card2 {
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    padding: 3px;
  }
